---
// Component Imports

import App from '../preact.jsx';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../bootstrap-5/bootstrap.min.css" />
    <title>Astro basicng template</title>
</head>
<body>
    <App />
    <script type="module" src="../../bootstrap-5/bootstrap.bundle.min.js"></script>
</body>
</html>